$nav-width: 25vw
@import colors

@font-face
  font-family: 'mc'
  font-display: swap
  src: url('font.ttf')

body
  margin: 0
  padding: 0
  display: flex
  align-items: flex-start
  justify-content: center
  font-family: 'mc', sans-serif
  background-color: black

nav, main
  height: 100vh

nav
  color: #fff
  width: $nav-width
  background-color: $nav-color
  ._nav,
    margin: 0
    padding: 0
    li
      list-style: none
      margin: 0
      padding: 2%
      font-size: 200%

      &:hover
        cursor: pointer
        background: rgba(11,11,11, 0.7)

.top-nav
    margin: 0
    padding: 0
    background-color: $nav-color
    display: flex
    justify-content: space-around
    align-items: center
    position: fixed
    top: 5vh
    color: #fff
    left: $nav-width
    width: 100vw - $nav-width
    li
      list-style: none
      margin: 0
      padding: 1%
      font-size: 120%

      &.active
        background: rgba(11,11,11, 0.7)

      &:hover
        cursor: pointer
        background: rgba(11,11,11, 0.7)

// ::-webkit-scrollbar
//   width: 5px
//   height: 5px
//
// ::-webkit-scrollbar-button
//   width: 0px
//   height: 0px
//
// ::-webkit-scrollbar-thumb
//   background: #e1e1e1
//   border: 0px none #ffffff
//   border-radius: 50px
//
// ::-webkit-scrollbar-thumb:hover
//   background: #ffffff
//
// ::-webkit-scrollbar-thumb:active
//   background: #ddd
//
// ::-webkit-scrollbar-track
//   background: #666666
//   border: 0px none #ffffff
//   border-radius: 50px
//
// ::-webkit-scrollbar-track:hover
//   background: #666666
//
// ::-webkit-scrollbar-track:active
//   background: #333333
//
// ::-webkit-scrollbar-corner
//   background: transparent

::-webkit-scrollbar
  display: none

body
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

main
  width: 100 - $nav-width - 6vw
  height: 95vh - 6vh
  position: fixed
  right: 0
  bottom: 0
  overflow-y: auto
  overflow-x: hidden
  .content
    padding-left: 3vw
    padding-right: 3vw
    padding-top: 3vh
    padding-bottom: 3vh
    width: 86%
    height: 90vh
    color: #fff
    font-size: 200%

    a
      color: #1e7509
      text-decoration: none
      &:hover
        text-decoration: underline

    &.flex
      display: flex
      justify-content: center
      align-items: center

    centeredplaybtn
      color: #fff
      border: 1px solid #236f0d
      background: rgba(255,255,255,0.3)
      font-size: 300%
      padding: 3vw
      &:hover
        background: #236f0d
        cursor: pointer

account
  display: flex
  justify-content: center

  ul
    width: $nav-width
    margin: 0
    padding: 0
    li
      margin: 0
      padding: 0
      &.flex
        display: flex
        justify-content: center
      list-style: none
      width: $nav-width

  name
    font-size: 500%
    text-align: center
    font-variant: small-caps

  .skin
    background-size: cover

#menu-bar
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: space-between
  align-items: center
  height: 5vh
  width: 100vw
  background: #34475a
  color: #fff
  -webkit-app-region: drag

#menu-bar > div
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center

.menubar-btn
  -webkit-app-region: no-drag

button
  height: 100%
  padding: 0 15px
  border: none
  color: #fff
  background: transparent
  outline: none

button:hover
  background: rgba(221, 221, 221, 0.2)
  cursor: pointer

#close-btn:hover
  background: rgb(255, 0, 0)

.trash-btn
  background: #740c0c
  color: #fff
  font-size: 50%
  padding: 2%
  border-radius: 5px
  &:hover
    background: #d11
    cursor: pointer

.__add-btn
  background: #237110
  color: #fff
  font-size: 50%
  padding: 2%
  border-radius: 5px
  &:hover
    background: #2ea60d
    cursor: pointer

.special-button
  border: 1px solid #000
  border-radius: 3px

skinsearch
  display: flex
  justify-content: space-around
  align-items: center
  *
    padding: 2%
    margin-left: 1vw
    text-align: center

  input
    width: 30vw
  ._b:hover
    background: none
    background-color: none
    color: #404040

notskinsearch
  display: flex
  justify-content: space-around
  align-items: center
  *
    padding: 2%
    text-align: center

  input
    width: 30vw

  button
    width: 7%

skinbox
  ul
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    li
      list-style: none
      text-align: center

button i
  color: white

.container
  position: fixed
  bottom: 0
  left: 0
  height: 95vh

.world
  padding: 3vw
  background: rgba(16,16,18,0.4)
  margin-bottom: 1vh

.skinIMG
  width: 50%

.choose_this
  &:hover
    cursor: pointer
    color: #202020

.popup
  z-index: 10000
  position: fixed
  width: 100vw
  height: 95vh
  background: #2d2d2d
  color: white
  bottom: 0
  left: 0

.flexer
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

// Skin-Editor
skineditornav
  background: none
  border-right: 3px solid black
  z-index: 6
  width: 30vw
  left: 25vw

skineditorpreview
  background: none
  width: 45vw
  right: 0
  z-index: 5

skineditornav, skineditorpreview
  height: 90%
  position: fixed
  top: 10%

.friendRequestPopup
  h1
    text-align: center
    font-size: 300%
  skinContainer
    display: flex
    justify-content: center
  buttoncontainer
    display: flex
    justify-content: space-around

    button
      color: #fff
      padding: 2%
      font-size: 200%
      &.accept
        background: #1e8f1c
        &:hover
          background: #1edb1a
      &.block
        background: #9e0a1f
        &:hover
          background: #f70f30
      &.ignore
        background: #bba50f
        &:hover
          background: #ecd00e
      &:hover
        cursor: pointer
input
  outline: none
  border: 1px solid black
  border-radius: 3px
  background: none
  padding: 0.5%
  font-family: 'mc'
  font-size: 100%
  color: #fff

.friend-view
  h2
    i
      font-size: 50%

.__cursor_pointer__
  &:hover
    cursor: pointer
.twittget
  position: fixed
  top: 15vh
  height: 80vh
  width: 20vw
  left:  $nav-width + 3vw
  overflow: auto

.hoverflow
  border: none
  outline: none

.coins
  font-size: 150%4
  border: 2px solid #e29f1a
  border-radius: 5px
  padding: 1%

  i
    color: #e29f1a
    &:hover
      color: #ffbd3b
      cursor: pointer
  b
    font-size: 150%

.popupc200
  display: flex
  align-items: center
  flex-direction: column
  margin-top: 10vh

  *
    width: 20vw
    font-size: 120%
    padding: 0.5%

  h1
    font-size: 300%

.leftskinarrow, .rightskinarrow
  position: fixed
  bottom: 1%
  font-size: 120%
  color: #0ef190
  cursor: pointer

  &:hover
    color: #0efc97

.leftskinarrow
  left: $nav-width + 1vw

.rightskinarrow
  right: 1vw
